@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');





body {
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color:rgba(12,12,12,12);
}

 h1 {
     text-align:center;
   font-family: 'Rubik Beastly', cursive;
 font-size: 70px ;
 }
 h2 {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.title {
    position: absolute;
    left:200px;
    top:200px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
  rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
  rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
  rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
  rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
border-radius: 10px;
}
.description {
    position:absolute;
    left:200px;
    top:350px;
}
.idea1 {
    position: absolute;
    left: 200px;
    top: 600px;
    transition: 1s ease;
}
.idea1:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.Picture1 {
    position:absolute;
    width:410px;
    height:300px;
    border-radius: 10px;
}
.img-description {
    position: absolute;
    left:200px;
    top: 920px;
}
.Title {
   font-family: 'Mochiy Pop P One', sans-serif;
}

.Title:before {
    content: '';
position: absolute;
width: 0;
height: 2px;
bottom: 0;
right: 0;
background-color: #fff;
visibility: hidden;
transition: all 0.3s ease-in-out;
}

.Title:hover:before {
    visibility: visible;
width: 100%;

}
.TitleDescription {
font-family: 'Teko', sans-serif;
font-size: 30px;
}
.idea2 {
position:absolute;
left:900px;
top: 720px;
transition: 1s ease;
}
.idea2:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.Picture2 {
  position: absolute;
  width: 408px;
  height: 290px;
  border-radius: 10px;
}
.img2-description {
  position: absolute;
  left: 900px;
  top: 1030px;
}
.idea3 {
    position: absolute;
    left:200px;
    top: 1150px;
    transition: 1s ease;
}
.idea3:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.Picture3 {
  position: absolute;
  width: 408px;
  height: 290px;
  border-radius: 10px;
}
.img3-description {
  position: absolute;
  left: 200px;
  top: 1460px;
}
.idea4 {
    position:absolute;
    left:900px;
    top: 1300px;
    transition: 1s ease;
}
.idea4:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.Picture4 {
    position:absolute;
    width:408px;
    height:290px;
    border-radius: 10px;
}
.img4-description {
  position: absolute;
  left: 900px;
  top: 1610px;
}
.idea5 {
    position:absolute;
    left:200px;
    top: 1700px;
    transition: 1s ease;
}
.idea5:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.Picture5 {
    position:absolute;
    width:408px;
    height:290px;
    border-radius: 10px;
}
.img5-description {
    position:absolute;
    left:200px;
    top: 2010px;
}
.idea6 {
    position: absolute;
    left:800px;
    top:200px;
    transition: 1s ease;
}
.idea6:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}
.Cool1 {
    position: absolute;
    width:160px;
    height: 150px;
    border-radius: 30px;
}
.idea7 {
  position: absolute;
  left: 980px;
  top: 200px;
  transition: 1s ease;
}

.idea7:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.Cool2 {
  position: absolute;
  width: 160px;
  height: 150px;
  border-radius: 30px;
}
.idea8 {
  position: absolute;
  left: 800px;
  top: 380px;
  transition: 1s ease;
}

.idea8:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}


.Cool3 {
  position: absolute;
  width: 160px;
  height: 150px;
  border-radius: 30px;
}
.idea9 {
  position: absolute;
  left: 980px;
  top: 380px;
  transition: 1s ease;
}

.idea9:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.Cool4 {
  position: absolute;
  width: 160px;
  height: 150px;
  border-radius: 30px;
}
