@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');





body {
 -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color:rgba(12,12,12,12);
}

 h2 {
  font-family: 'Mochiy Pop P One', sans-serif;
}

.title {
    color:white;
    
}
