.product  {
  width: 300px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  margin: 8px auto;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}

.product img {
    height: 270px;
    border-radius: 10px;
}

.product__info p {
    margin-bottom: 8px;
}

.info__price {
    font-weight: bold;
}

.info__name {
    font-size: 1rem;
    overflow: hidden;

}

.info__description {
    font-size: 0.8rem;
}

.info__button {
background-color: #fff;
border: 0 solid #e2e8f0;
border-radius: 1.5rem;
box-sizing: border-box;
color: #0d172a;
cursor: pointer;
display: inline-block;
font-family: 'Basier circle', -apple-system, system-ui, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
font-size: 1.1rem;
font-weight: 600;
line-height: 1;
padding: 1rem 6.8rem;
text-align: center;
text-decoration: none #0d172a solid;
text-decoration-thickness: auto;
transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;

}

.info__button:hover {
    background-color: #4bccb0;
color: #fff;

}



